*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.MainBody {
    width: 25%;
    height: 1200px;
    margin: auto;

}
#SubBody{
    width: 910px;
    height:1200px;
    margin-left: 20px;
}
.Head h1 {
    width: 910px;
    height: 40px;
}
.Head h3{
    width: 910px;
    height: 40px;
}
.SecondHead{
    width: 910px;
    height: 1080px;
    background-color: rgb(4, 11, 85);
}
.SecondHead h2{
    width: 910px;
    height: 50px;
    font-size: 30px;
    font-weight: 700;
    color:white;
    background-color:#218384;

}
.inerStepOne h3{
    width: 910px;
    height: 50px;
    font-size: 30px;
    font-weight: 500;
    color: aliceblue;

}
#highlight {
    color: red;
}
.stepone h4{
    width: 510px;
    height: 50px;
    font-size: 20px;
    font-weight: 500;
    color: aliceblue;
}
#principalAmount{
    height: 40px;
    width: 100px;
    background-color: aliceblue;
    margin-left: 270px;
}
.stepone {
    display: flex;
}

.Contribution h4{
    width: 510px;
    height: 50px;
    font-size: 20px;
    font-weight: 500;
    color: white
 
 } 

#contributionAmount{
    height: 40px;
    width: 100px;
    background-color: aliceblue;
    margin-left: 270px;
}
.Contribution { 
    display: flex; 
 } 
 #space{
    height: 2px;
    width: 910px;
    background-color: aliceblue;
    margin-top: 10px;
 }
 .lenght h3{
    width: 910px;
    height: 50px;
    font-size: 30px;
    font-weight: 500;
    color: aliceblue;
    margin-top: 20px;

}
#highlight {
    color: red;

}
.step22 h4{
    width: 510px;
    height: 50px;
    font-size: 20px;
    font-weight: 500;
    color: aliceblue;
    margin-bottom: 20px;
}
#duration{
    height: 40px;
    width: 100px;
    background-color: aliceblue;
    margin-left: 270px;
}
.step22 {
    display: flex;
}
.step3 h2{
    width: 910px;
    height: 50px;
    font-size: 30px;
    font-weight: 700;
    color:white;
    background-color:#218384;
}
.EstInterestRate h3{
    width: 910px;
    height: 50px;
    font-size: 30px;
    font-weight: 500;
    color: aliceblue;
    margin-top: 20px;

}
#highlight {
    color: red;

}
.step32 h4{
    width: 510px;
    height: 50px;
    font-size: 20px;
    font-weight: 500;
    color: aliceblue;
    margin-bottom: 20px;
}
#rate{
    height: 40px;
    width: 100px;
    background-color: aliceblue;
    margin-left: 270px;
}

.step32 {
    display: flex;
}
.InterestRateVariance h3{
    width: 910px;
    height: 50px;
    font-size: 30px;
    font-weight: 500;
    color: aliceblue;
    margin-top: 20px;

}
.step33 h4{
    width: 510px;
    height: 50px;
    font-size: 20px;
    font-weight: 500;
    color: aliceblue;
    margin-bottom: 20px;
}
#range{
    height: 40px;
    width: 100px;
    background-color: aliceblue;
    margin-left: 270px;
}

.step33 {
    display: flex;
}
.step4 h2{
    width: 910px;
    height: 50px;
    font-size: 30px;
    font-weight: 700;
    color:white;
    background-color: #218384;
}
.CompoundFrequency h3{
    width: 910px;
    height: 50px;
    font-size: 30px;
    font-weight: 500;
    color: aliceblue;
    margin-top: 20px;

}
.step41 h4{
    width: 510px;
    height: 50px;
    font-size: 20px;
    font-weight: 500;
    color: aliceblue;
    margin-bottom: 20px;
}
#frequency{
    height: 40px;
    width: 100px;
    background-color: aliceblue;
    margin-left: 270px;
    margin-bottom: 20px;
}

.step41 {
    display: flex;
}

 
.complete {
    width: 300px;
    height: 40px;
}
#Calculate {
    width: 100px;
    height: 40px;
    background-color: red;
    color: white;
    margin-top: 20px;
}

#command{
    height: 85px;
    text-align: end;
}

#reset{
    width: 100px;
    height: 40px;
    background-color: #218384;
    color: white;
    margin-top: 20px;
}

#result{
    text-align: end;
    margin-top: 10px;
    color: black;
    font-size: 30px;

}