*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.MainBody{
    border: solid; 
    width: 700px;
    height: 600px;
    justify-content: center;
    /* background-color:blueviolet; */
     margin-left: 20%;
     margin-top: 3%;
}

.Topheading{
    border: solid; 
    width: 700px;
    height: 200px;
    justify-content: center;
    /* background-color:rgb(1, 12, 249); */
}n/ 
justify-content: center;
bb nbn bnn/ bbnbn
color: blnnbn/ ue;
align-items: center;
}
text-align: cenbb  b n bnn bnb/bn bbn bnbnb bn /b bnnbbn /bnn/nbn nbn/nb b b/nbnnbn/n bb/nn n/bnn bnb/ bnb n nnb bn n nbnb/nbn/bb/nnnbn /b bnbnn/bbn/ ter;
justify-content: center;
color: blue;
text-align: center;
align-items: center;

nbnbnbbnb  n/nbnn /bnnbn / bnn bnbnbn/ b b/ n/bn nnbn b .bnb//nb bnbnbn/nbn /bnbnbnn/nbnbn bbnb bnb/bnb nb / nn b   nbb/b/b nb/b b bn/b bn/nn nb nb /b nnb//nbnbbnb n/bn nbnbbnb/ n/nbb nbn bn bnb/bn bn/nbTn nbbnb/nb bn bnnnbn/bb nb//opheadingsub{
    
    
}
n  bnnnbnb /n/n bbnbnb/ bn/b n bnbnbnbbb bnnbn/ bn/nbnbnb/.body {
    bbbbbb